<!DOCTYPE html>
<html lang="en" ng-app="app1" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Practice</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js" ></script>
</head>
<body>
    <div ng-controller="clicheCtrl" class="main-container" >
        <h1>Random Business Cliche Generator</h1>
        <h4  >{{cliche}}</h4>
        <button ng-click="generateCliche()" >Cliche</button>
    </div>
    <div ng-controller="clicheCtrl" >
        <div>
            <input type="text" ng-model="newCliche" />
            <button ng-click="addCliche(newCliche)" >Submit</button>
        </div>
        <div>
            <h4 class="error-text">{{missingNewClicheError}}</h4>
        </div>
    </div>


    <script src="example.js"></script>
</body>
</html>